body{
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
}
.red-box{
    background-color: red;
}
.green-box{
    background-color: green;
    position:absolute;
    left: 100px;
    top: 100px;
}
.blue-box{
    background-color: blue;
}